.landing-alert {
  margin-bottom: 0;
}
.page-header {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  &.page-header-small {
    min-height: 65vh !important;
    max-height: 700px;
  }
  &.page-header-xs {
    min-height: 40vh !important;
  }

  &.section-dark {
    .content-center,
    .category-absolute {
      z-index: 1;
    }
  }
}
.page-header .motto {
  text-align: left;
  z-index: 3;
  color: #fff;
  position: relative;
}
.landing-section {
  padding: 100px 0;
  z-index: 1;
}
.section-buttons {
  z-index: 1;
}
.landing-section .btn-simple {
  padding: 0;
}
.landing-section .column {
  padding: 0 75px 0 25px;
}
.team-player .img-circle,
.team-player .img-thumbnail {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.contact-form {
  margin-top: 30px;
}
.contact-form label {
  margin-top: 15px;
}
.contact-form .btn {
  margin-top: 30px;
}

.navbar-relative {
  position: relative;
  z-index: 2;
}
#register-navbar a {
  color: #fff;
}
.register-background .container {
  margin-top: 11%;
  position: relative;
  z-index: 3;
}
.register-footer {
  bottom: 20px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: transparent;
  color: $white-color;
}
.register-footer .fa-heart {
  color: #eb5e28;
}

.register-card label {
  margin-top: 15px;
}
.register-card .title {
  color: #b33c12;
  text-align: center;
}
.register-card .btn {
  margin-top: 30px;
}
.register-card .forgot {
  text-align: center;
}

.profile-content {
  position: relative;
}
.owner {
  text-align: center;
}
.owner .avatar {
  padding: 15px;
  max-width: 180px;
  margin: -85px auto 0;
  display: inline-block;
}
.owner .name h4 {
  margin-top: 10px;
}
.profile-tabs {
  margin: 50px 0;
  min-height: 300px;
}
#following h3 {
  margin: 20px 0 40px 0;
}

#follows .follows .unfollow .checkbox {
  margin-top: -15px;
}
#follows .follows h6 {
  margin-top: 15px;
}
.follows hr {
  margin-top: 10px;
}
.alert h5 {
  // margin-bottom: 10px;
}
.title-brand {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #ffffff;
  display: block;

  .type {
    position: absolute;
    font-size: 20px;
    background: #132026;
    padding: 6px 10px;
    border-radius: 4px;
    top: 0;
    font-weight: 600;
    margin-top: 10px;
    right: -15px;
  }
}

.presentation-title {
  font-size: 7em;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: -webkit-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: -ms-linear-gradient(top, #ffffff 35%, #4e6773 100%);
  background: linear-gradient(to bottom, #ffffff 35%, #4e6773 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presentation-subtitle {
  font-size: 2em;
  color: #ffffff;
}

.category-absolute {
  position: absolute;
  text-align: center;
  top: 100vh;
  margin-top: -60px;
  padding: 0 15px;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);

  .creative-tim-logo {
    max-width: 140px;
    top: -2px;
    left: 3px;
    position: relative;
  }
}

.fog-low {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -35%;
  margin-bottom: -50px;
  width: 110%;
  opacity: 0.85;

  img {
    width: 100%;
  }

  &.right {
    margin-left: 30%;
    opacity: 1;
  }
}
.page-header {
  .content-center {
    margin-top: 85px;
  }
}
.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
.following {
  img {
    max-width: 70px;
  }
}

.profile-content {
  & .tab-content {
    & .tab-pane {
      min-height: 200px;
    }
    & #tweets,
    #connections,
    #media {
      height: 100%;
    }
  }
}

///////////////////////////////////////
.homepage-container {
  padding: 0;
  margin: 0;
  background-color: #ffffff; /* Light gray background */
}

.hero-section {
  background-color: #ffffff; /* White background for the hero section */
  padding: 8rem 10rem;
  text-align: left;
  // margin-bottom: 2rem;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #030303; /* Dark text color */
  margin-bottom: 2rem;
}

.hero-subtitle {
  font-size: 1.6rem;
  color: #3f4447; /* Secondary text color */
  margin-bottom: 2rem;
}

.cta-button {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}

.image-section img {
  max-width: 90%;
  height: auto;
  // justify-content: center;
  align-items: center;
  padding-left: 20%;
}

.features-section {
  padding: 2rem 0;
  background-color: #ffffff; /* Slightly darker gray background */
}

.feature-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for cards */
  text-align: center;
  padding: 2rem;
  background-color: #ebfafd;
  margin-bottom: 1.5rem;
}

.feature-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #003366;
  margin-bottom: 1rem;
  text-align: left;
}

.feature-description {
  font-size: 1rem;
  color: #3f4447;
  text-align: left;
}

.feature-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(39, 74, 230, 0.2);
}
//////////////// custom css /////////////////
.image-autofill {
  object-fit: cover;
}

.custom-border {
  object-fit: cover;
  border-radius: 2.5%;
}

.features-row {
  width: 90%; /* Adjust this percentage as needed */
  margin: 0 auto; /* Center the row */
}

.no-margin {
  margin-right: 0;
  margin-left: 0;
}

.no-padding {
  padding: 0 0;
}

.card-margin {
  margin-right: 0%;
  margin-left: 0%;
}

.information-margin {
  margin-right: 8%;
  margin-left: 8%;
  margin-top: 1%;
}

.icon-margin {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 3%;
}

.card-feature-section {
  padding: 5rem 10rem 15rem;
  background-color: #ffffff; /* Slightly darker gray background */
}

.information-section {
  padding: 7rem 0;
  background-color: #eff9ff;
}

.feature-header {
  font-size: 2rem;
  font-weight: bold;
  color: #4e4c4c;
  margin-top: 3%;
  margin-bottom: 3%;
}

.card-content-padding {
  padding: 0 1.5rem;
}

.icon-word-padding {
  padding: 0.8rem 0 0 0;
}

.dark-blue-button {
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #2776c5;
  border-color: #2776c5;
  padding: 0.75rem 2rem;
  text-align: center;
  font-weight: bold;
  &:hover {
    color: #003366;
    background-color: #a8caed;
    border-color: #a8caed;
    font-weight: bold;
  }
}

///////////////QnA section/////////////////////
.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #eff9ff, #83d0ff);
  padding: 12rem 10rem 8rem;
  text-align: left;

  .content {
    flex: 1;
    padding-right: 2rem;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: #003366;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      color: #3f4447;
      margin-bottom: 2rem;
    }

    button {
      font-size: 1.2rem;
      color: #ffffff;
      background-color: #2776c5;
      border-color: #2776c5;
      padding: 0.75rem 2rem;
      text-align: center;
      font-weight: bold;
      &:hover {
        color: #003366;
        background-color: #a8caed;
        border-color: #a8caed;
        font-weight: bold;
      }
    }
  }

  .image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 80vh;
      object-fit: contain;
      border-radius: 0.5rem;
    }
  }
}

.question-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh;
  text-align: center;
  background: linear-gradient(45deg, #eff9ff, #83d0ff);
  margin: 0px auto;
  padding-left: 20%;
  padding-right: 20%;
}

.question-page h2 {
  font-size: 2rem;
  color: #003366;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: left;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2 columns */
  grid-template-rows: repeat(1, 1fr); /* 2 rows */
  gap: 1rem; /* Space between buttons */
  // width: 40%; /* Adjust width as necessary */
}

.option-button {
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #2776c5;
  border-color: #2776c5;
  padding: 0.75rem 2rem;
  text-align: center;
  font-weight: bold;
  &:hover {
    color: #003366;
    background-color: #a8caed;
    border-color: #a8caed;
    font-weight: bold;
  }
}

.feedback-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #eff9ff, #9cd8fd);
  padding: 8rem 10rem;
  text-align: left;

  .content {
    flex: 1;
    padding-right: 2rem;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #003366;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      color: #3f4447;
      margin-bottom: 2rem;

      strong {
        color: #185797; // Highlight the correct answer
        font-weight: bold;
      }
      .subtitle {
        color: #000000;
        font-weight: bold;
      }
    }

    button {
      font-size: 1.2rem;
      font-weight: bold;
      color: #ffffff;
      background-color: #2776c5;
      border-color: #2776c5;
      padding: 0.75rem 2rem;
      text-align: center;

      &:hover {
        color: #003366;
        background-color: #a8caed;
        border-color: #a8caed;
        font-weight: bold;
      }
    }
  }

  .chart-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%; /* Adjust this width to make the container larger */
    height: 60vh; /* Use vh to make the height responsive to the viewport */
    margin: 0 auto; /* Center the container */
  }
}

.chartjs-render-monitor {
  width: 75% !important; /* Ensure the chart doesn't exceed this width */
  height: auto !important;
}

.chart-legend {
  font-size: 1.5rem;
  color: #003366;
}

.result-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(45deg, #d9fffa, #e8e5ff);
}

.result-page h2 {
  font-size: 2.5rem;
  color: #003366;
  margin-bottom: 2rem;
  font-weight: bold;
}

.result-page button {
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #2776c5;
  border-color: #2776c5;
  padding: 0.75rem 2rem;
  text-align: center;
  font-weight: bold;
  &:hover {
    color: #003366;
    background-color: #a8caed;
    border-color: #a8caed;
    font-weight: bold;
  }
}

// marine life page
.section-marinelife {
  padding-top: 20px;
  padding-left: 8rem;
  padding-right: 8rem;
  background: linear-gradient(45deg, #c6e0f1, #f4f9fb);
  // min-height: 100vh;
}

.section-pollution {
  background: linear-gradient(45deg, #f4f9fb, #e7f6ff);
}

.drop-down-pollution {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;

  .option-button {
    font-size: 1rem;
    color: #ffffff;
    background-color: #2776c5;
    border: none;
    padding: 0.75rem 3rem;
    text-align: center;
    font-weight: bold;
    border: 3px solid #2776c5;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      color: #003366;
      background-color: #a8caed;
      border: 3px solid #a8caed;
    }
    &.selected {
      color: #284567;
      background-color: #a7f8ff;
      border: 3px solid #284567;
    }
  }
}

.marine-life-content {
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 1rem;
  }

  h6 {
    font-size: 1rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: #3f4447;
    margin-bottom: 2rem;

    strong {
      color: #185797; // Highlight the correct answer
      font-weight: bold;
    }
    .subtitle {
      color: #000000;
      font-weight: bold;
    }
  }

  span {
    font-size: 1rem;
    color: #3f4447;
    margin-bottom: 2rem;
    font-weight: bold;

    strong {
      color: #185797; // Highlight the correct answer
      font-weight: bold;
    }
    .subtitle {
      color: #000000;
      font-weight: bold;
    }
  }
}

.CriticallyEndangered {
  color: #003366;
}
.Endangered {
  color: #36a2eb;
}
.Vulnerable {
  color: #bbe0f7;
}

////////////////////////Minigame pop out window css/////////////////

.popup-window {
  position: fixed; /* Position the pop-up relative to the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to be truly centered */
  padding: 50px; /* Padding inside the pop-up */
  border-radius: 8px; /* Rounded corners */
  z-index: 1001; /* Ensure it is above other elements */
  width: 715px; /* Set width of the pop-up */
  height: 553px; /* Set width of the pop-up */
  text-align: center;
  background-size: cover;
  background-image: url("../../../assets/img/minigame/warning.png"); /* Set the provided PNG as the background */
}

.popup-content {
  height: 300px; /* Set a maximum height for the scrollable area */
  overflow-y: auto; /* Make the content scrollable if it exceeds the max height */
  background-color: white; /* White background for the text area */
  padding: 20px; /* Padding inside the text area */
  border-radius: 8px; /* Rounded corners for the text area */
  margin-bottom: 20px;
  text-align: left; /* Center text inside the pop-up */
}

.popup-window h2 {
  margin-bottom: 10px; /* Space below the title */
  font-size: 1.8rem; /* Font size of the title */
  font-weight: bold;
  color: #003366;
}

.popup-window p {
  margin-bottom: 20px; /* Space below the message */
  font-size: 1.2rem; /* Font size of the message */
  font-weight: bold;
  color: #3f4447;
}

.popup-window button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #2776c5; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove button border */
  padding: 10px 50px; /* Button padding */
  border-radius: 10px; /* Button rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 1rem; /* Font size of the button text */
}

.popup-window button:hover {
  background-color: #003366; /* Darker shade on hover */
}

/* Optional: Dark overlay behind the pop-up */
.overlay {
  position: fixed; /* Position the overlay relative to the viewport */
  top: 0; /* Start from the top of the screen */
  left: 0; /* Start from the left of the screen */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it is below the pop-up but above other content */
}

////////////////////////Minigame instruction css/////////////////
.instruction-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 500px; // Adjust max width of the frame image container as necessary
  height: auto;
  margin: auto; // Center it horizontally

  img {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .text-content {
    position: relative; // Ensures the text stays inside the frame
    padding: 50px; // Adds padding to the text for better readability
    font-size: 18px; // Adjust the font size as needed
    font-weight: bold;
    color: #ffffff; // Text color, adjust if necessary
    text-align: left;
    max-width: 80%; // Keeps the text within the image, adjust if necessary
    max-height: 100%;
    word-wrap: break-word; // Ensures long text wraps within the container
    z-index: 1; // Keeps text above the image
  }
}

.gametitle-section {
  justify-content: space-between;
  align-items: center;
  padding: 8rem 6rem;
  text-align: left;

  .content {
    flex: 1;
    padding-right: 2rem;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #003366;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      color: #3f4447;
      margin-bottom: 2rem;

      strong {
        color: #185797; // Highlight the correct answer
        font-weight: bold;
      }
      .subtitle {
        color: #000000;
        font-weight: bold;
      }
    }
  }
}

////////////////////////Game landing page //////////////////////
.game-landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #eff9ff, #9cd8fd);
  padding: 2rem 2rem;
  text-align: left;
  padding-top: 100px;

  .content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      text-align: center;
      font-size: 2.5rem;
      font-weight: bold;
      color: #003366;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      font-size: 1.2rem;
      // font-weight: bold;
      color: #000000;
      margin-bottom: 1rem;
    }

    .subtitle {
      text-align: center;
      font-size: 1.5rem;
      color: #3f4447;

      font-weight: bold;
    }

    .difficulty-buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
      gap: 1rem;
    }

    .option-button {
      font-size: 1rem;
      color: #ffffff;
      background-color: #2776c5;
      border: none;
      padding: 0.75rem 3rem;
      text-align: center;
      font-weight: bold;
      border: 3px solid #2776c5;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        color: #003366;
        background-color: #a8caed;
        border: 3px solid #a8caed;
      }
      &.selected {
        color: #284567;
        background-color: #a7f8ff;
        border: 3px solid #284567;
      }
    }

    .key-features {
      margin-bottom: 2rem;

      h3 {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
        margin-bottom: 1rem;
      }

      .feature-cards {
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        padding-bottom: 1rem;
      }

      .feature-card {
        flex: 0 0 auto;
        width: 280px;
        background-color: #f0f8ff;
        border-radius: 8px;
        padding: 1.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        h4 {
          font-size: 1.2rem;
          font-weight: bold;
          color: #003366;
          margin-bottom: 1rem;
        }

        .card-content {
          text-align: center;
        }

        .state-shape {
          width: 80px;
          height: 80px;
          background-color: #2776c5;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto 1rem;

          span {
            color: #ffffff;
            font-size: 1.2rem;
            font-weight: bold;
          }
        }

        .difficulty-rating {
          font-size: 1rem;
          font-weight: bold;
          color: #003366;
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 0.9rem;
          color: #3f4447;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.states-card {
  .carousel {
    position: relative;
    width: 80%; // Adjust carousel width to show part of next/previous cards
    margin: 0 auto;

    .carousel .slider-wrapper {
      overflow: visible;
    }

    .state-card {
      width: 75%;
      margin: 0 auto;
      padding: 3rem;
      // background-color: #f0f8ff;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../../assets/img/minigame/minigameDemo.png");
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: none;

      h2 {
        font-size: 2rem;
        font-weight: bold;
        color: #e3f0fc;
        margin-bottom: 1rem;
      }

      h4 {
        font-size: 1.2rem;
        font-weight: bold;
        color: #c5ddf5;
        margin-bottom: 1rem;
      }

      .card-content {
        text-align: center;
      }

      .state-shape {
        // width: 30%;
        // height: 100px;
        // background-color: #e1eaf3;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 1rem;

        span {
          color: #000000;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }

      .difficulty-rating {
        font-size: 1rem;
        font-weight: bold;
        color: #b0d1f2;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 0.9rem;
        color: #feffff;
        margin-bottom: 0.5rem;
        strong {
          color: #ffffff; // Highlight the correct answer
          font-weight: bold;
        }
      }
    }

    .carousel-arrow {
      position: absolute;
      border: none;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border-radius: 50%; /* Make the arrow a circle */
      color: #003366;
      font-size: 8rem;
      padding: 10px;
      width: 60px; /* Set a fixed width */
      height: 60px; /* Set a fixed height */
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1000;

      &.prev-arrow {
        left: 50px;
      }

      &.next-arrow {
        right: 50px;
      }

      &:hover {
        color: #a8caed;
      }
    }

    .start-game-button {
      font-size: 1rem;
      font-weight: bold;
      color: #ffffff;
      background-color: #2776c5;
      border: none;
      padding: 0.75rem 2rem;
      text-align: center;
      border-radius: 10px;
      margin-top: 5px;
      cursor: pointer;

      &:hover {
        color: #003366;
        background-color: #a8caed;
      }
    }

    .carousel-dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background-color: #ccc;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.selected {
        background-color: #a8caed;
      }
    }

    .carousel .control-dots {
      margin-top: 20px;
      position: relative;
    }
  }
}

.state-card-details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  margin: auto; // Center it horizontally
}

//////Minigame conclusion page//////
.minigame-feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #eff9ff, #9cd8fd);
  padding: 2rem 2rem;
  text-align: center;
  padding-top: 100px;

  .content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    h1 {
      font-size: 4rem;
      font-weight: bold;
      color: #003366;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #003366;
      margin-bottom: 1rem;
      strong {
        color: #2776c5; // Highlight the correct answer
        font-weight: bold;
      }
    }
    h3 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #3f4447;
      margin-bottom: 1rem;
      strong {
        color: #2776c5; // Highlight the correct answer
        font-weight: bold;
      }
    }
    p {
      font-size: 1.2rem;
      color: #3f4447;
      margin-bottom: 0.5rem;
      strong {
        color: #000000; // Highlight the correct answer
        font-weight: bold;
      }
    }
    .session-buttons {
      display: flex;
      justify-content: center;
      // margin-bottom: 2rem;
      gap: 5rem;
    }

    .option-buttons {
      font-size: 1rem;
      font-weight: bold;
      color: #ffffff;
      background-color: #2776c5;
      border: none;
      padding: 0.75rem 2rem;
      text-align: center;
      border-radius: 10px;
      margin-top: 20px;
      cursor: pointer;
      width: 40%;

      &:hover {
        color: #003366;
        background-color: #a8caed;
      }
    }
  }

  .card-info {
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1 {
      font-size: 4rem;
      font-weight: bold;
      color: #003366;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #003366;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #3f4447;
      margin-bottom: 1rem;
      strong {
        color: #2776c5; // Highlight the correct answer
        font-weight: bold;
      }
    }
    p {
      font-size: 1.2rem;
      color: #3f4447;
      margin-bottom: 0.5rem;
      strong {
        color: #000000; // Highlight the correct answer
        font-weight: bold;
      }
    }
  }

  .tool-tip-info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #3f4447;
      margin-bottom: 1rem;
      strong {
        color: #2776c5; // Highlight the correct answer
        font-weight: bold;
      }
    }
    p {
      font-size: 1.2rem;
      color: #3f4447;
      margin-bottom: 0.5rem;
      strong {
        color: #000000; // Highlight the correct answer
        font-weight: bold;
      }
    }
  }
}

.custom-tooltip {
  text-align: left;
  h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #d0e2f5;
  }
  p {
    strong {
      color: #a8caed; // Highlight the correct answer
      font-weight: bold;
    }
  }
}

// --------Pollution page---------
hr.solid {
  border-top: 2px solid #bbb;
  margin: 50px 0;
}
div .span-h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #003366;
  margin-bottom: 0;
  padding-right: 1rem;
}
div.info.legend {
  background-color: rgba($color: #ffffff, $alpha: 0.8);
  padding: 5px;
  border-radius: 10px;
}
b.red {
  color: red;
}
b.green {
  color: #7efcaa;
}
.custom-card {
  padding-bottom: 0px !important
}
// .pollution-card {
//   background-color: rgb(255, 255, 255) !important;
// }
.polytype-padding {
  margin: 2rem 0;
}

.chart-container {
  position: relative;
  overflow: hidden;
  height: 650px;
}
.line-chart-wrapper {
  position: relative;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.hover-card:hover .line-chart-wrapper {
  transform: translateY(-30px);
}
.chart {
  position: relative;
  z-index: 1;
  height: 300px;
}
.hover-text {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hover-card:hover .hover-text {
  opacity: 1;
}

.scrollable-col {
  max-height: 93vh;
  overflow-y: auto;
}
.scrollable-suggestion-content {
  max-height: 35vh;
  overflow-y: auto;
}
.scrollable-linechart-content {
  max-height: 35vh;
  width: 95%;
  overflow-y: auto;
}
.scrollable-other-content {
  max-width: 50vw;
  overflow-x: auto;
}
.alternatives-arrow {
  padding: 10px 8px;
  margin-bottom: 0.5rem;
}
span.span-card {
  // width: 140px;
  display: inline-block;
  padding: 10px 8px;
  border-radius: 8px;
  border-color: #003366;
  border-style: solid;
  margin: 0.5rem;
  font-size: medium;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 60px;
  height: 60px;
  // border-radius: 8px;
  // border-color: #000000;
  // border-style: dashed;
  // border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-color: #000000;
  border-style: dashed;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  // background-color: #bbb;
  color: black;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}
.flip-card-front img {
  display: block;
}

/* Style the back side */
.flip-card-back {
  // background-color: dodgerblue;
  color: rgb(47, 114, 238);
  transform: rotateY(180deg);
  text-align: center;
  // vertical-align: middle;
  // line-height: 60px;
}

// Nav
.navbar .nav-link {
  color: #3f4447; /* Default text color */
  position: relative;
}

.navbar .nav-link:hover {
  color: #003366; /* Change text color on hover */
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #2776c5; /* Blue underline */
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.navbar .nav-link:hover::after {
  width: 100%; /* Underline on hover */
}

.navbar .nav-link.active {
  background-color: #d0e2f5;
  color: #003366 !important;
  border-radius: 8px;
}

.normal-button {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #2776c5;
  border: none;
  padding: 0.75rem 2rem;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;

  &:hover {
    color: #003366;
    background-color: #a8caed;
  }
}
